body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #333333;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fff600' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.app {
  width: 600px;
  background-color: hsl(0, 0%, 100%);
}

.header {
  background: hsl(0, 0%, 0%);
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.title {
  color: hsl(58, 100%, 50%);
  margin: 0;
  font-size: 2.2em;
}

.input {
  background: hsl(0, 0%, 93%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-todo {
  background: hsl(0, 0%, 93%);
  flex: 1;
  padding: 10px;
  border: 0;
  width: 400px;
  padding: 20px;
  font-size: 1.1em;
}

.button {
  background: hsl(0, 0%, 0%);
  color: hsl(58, 100%, 50%);
  border-radius: 5px;
  border: 0;
  padding: 8px 12px;
  margin: 6px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.1em;
}

.output {
  margin: 4px;
}

.output div {
  padding: 6px;
  display: flex;
  align-items: center;
}

.output div .todo {
  font-size: 1.2em;
}

.output div .box {
  background-image: url("box.png");
  background-size: 30px;
  background-repeat: no-repeat;
  height: 30px;
  min-width: 30px;
  padding: 0;
  margin: 0;
  margin-right: 13px;
  border: 0;
  cursor: pointer;
}

.output div .box.completed {
  background-image: url("box-completed.png");
  background-size: 39px 30px;
  margin-right: 4px;
  min-width: 39px;
}
